.weather {
  border: 1px solid rgb(190, 190, 190);
}

.Weather h2 {
  color: #878787;
}

.mainTemp {
  font-size: large;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #878787;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
